.container {
  width: 375px;
  min-height: 100vh;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.primary-btn {
  background: #6c25ff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.secondary-btn {
  background: #cebafb;
  color: black;
  padding: 12px;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}