* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #ffffff;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}